.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.usa {

}

.blip {
  transition: all 0.3s;
}

.bliphover {
  transition: all 0.3s;
}

.control-form {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  font-size: 14px;
  padding: 20px;
  min-height: 300px;
}

.control-form > h {
  font-size: 20px;
}

.control-label {

}

.control-input {

}

.control-button {

}

.control-menu {

}

.control-radio {

}

.control-slider {

}

.control-submit {

}
