@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.nav {
  position: fixed;
  top: 0px;
  width: 100%;
}

.body {
  background-color: #fff;
  margin: 60px 0px 15px 0px;
  font-size: 80px;
  text-align: center;
  vertical-align: middle;
  top: 45px;
}
