.container {
  margin-top: 100px;
  max-height: 400px;
  min-height: 400px;
  width: 500px;
  overflow-y: auto;
  margin: 5px 40px;

  display:  flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.switch {
  height: 400px;
  overflow-y: scroll;
  margin-top: 30px;
  position: absolute;
  transform: scale(1.0);
  opacity: 1.0;
  transition: all 0.5s;
}

.hidden {
  opacity: 0.0;
  transform: scale(0.5);
  transition: all 0.5s;
}
